@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  font-size: 62.5%; //  1rem =10px;
  font-family: 'Varela Round', sans-serif;
  line-height: 1;
}

body {
  font-family: 'Varela Round', sans-serif;
  margin: 0rem;
  padding: 0rem;
  line-height: 1;
  overflow-x: hidden;
  background-color: #eee;
}

.success {
  color: rgb(135, 208, 104)
}

.danger {
  color: rgb(255, 68, 0)
}