# Environment
NODE_ENV=""

# Express  related Configs

EXPRESS_PORT=""

# BOLT
PORT=""
HOST=""

#SLACK CONFIGS LEGACY
LEGACY_SLACK_SIGNING_SECRET=""
LEGACY_SLACK_BOT_TOKEN=""
LEGACY_SLACK_USER_TOKEN=""


#DATABASE SETTINGS

DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_PORT=""
DB_HOST=""

# Business Logic

PENALTY_IN_SECONDS=""
TIME_ZONE=""
WORK_HOUR_START=""
WORK_HOUR_ENDS=""